# Default ignored files
/../../../../:PycharmProjects/simulationmodelling/.idea/shelf/
/../../../../:PycharmProjects/simulationmodelling/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/simulationmodelling/.idea/dataSources/
/../../../../:PycharmProjects/simulationmodelling/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/simulationmodelling/.idea/httpRequests/
